
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Ubuntu:wght@300&display=swap');


body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.gb-container-main {
    background-color: #f5f5f9;
}

.gb-container-main > .gb-inside-container {
    padding: 40px 40px 10px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #13162f;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3em;
    margin-bottom: 30px;
}

.gb-container-bbb {
    margin-top:30px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e94452;
}

.gb-container-bbb > .gb-inside-container {
    padding: 30px;
}

.shortcode-swiftscore {
    display: block;
    position: relative;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

.shortcode-swiftscore .star_rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.shortcode-swiftscore .star_rating i {
    display: inline-block;
    font-size: 20px;
    color: #1A0DAB;
    margin: 0 2px;
}

.fa-star:before {
    content: "\f005";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.insurance_pannel {
    position: relative;
}

.insurance_pannel:before {
    content: attr(data-before);
    display: block;
    width: 40px;
    height: 35px;
    font-weight: 700;
    padding-top: 5px;
    font-size: 20px;
    background: #1A0DAB;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    z-index: 99;
}

.wp-block-image img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    box-sizing: border-box;
}

.gb-grid-wrapper-main {
    align-items: center;
    justify-content: center;
}

.gb-grid-wrapper > .gb-grid-column-cont {
    width: 40%;
}

.gb-container-first > .gb-inside-container {
    padding: 0 0 30px;
}

.gb-grid-wrapper > .gb-grid-column-div {
    width: 50%;
}

.shortcode-swiftscore ul.score {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.shortcode-swiftscore ul.score li {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.shortcode-swiftscore ul.score a {
    font-weight: 700;
    font-size: 13px;
    color: #DB5155;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-angle-down:before {
    content: "\f107";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sf-with-ul:hover + .tooltip {
    display: block;
}

.shortcode-swiftscore .tooltip {
    display: none;
    position: absolute;
    top: calc(100% - 5px);
    width: 250px;
    background: #fff;
    color: #1A1E41;
    text-align: left;
    font-size: 14px;
    line-height: 1.4em;
    z-index: 999;
    box-shadow: 0 15px 40px rgba(26, 29, 64, 0.2);
    padding: 20px;
    left: 50%;
    margin-left: -125px;
    border-radius: 3px;
}

.shortcode-swiftscore .rank {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    color: #1A1E41;
}

.shortcode-swiftscore ul.score {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.gb-container-divider {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #dbdbeb;
}

.gb-container-divider .gb-inside-container {
    padding: 30px 0 0;
}

.gb-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.gb-grid-wrapper > .gb-grid-column-aaa {
    width: 30%;
}

.gb-container-aaa > .gb-inside-container {
    padding: 0;
}

.gb-grid-wrapper > .gb-grid-column-abc {
    width: 30%;
}

.gb-container-abc > .gb-inside-container {
    padding: 0;
}

.gb-grid-wrapper > .gb-grid-column-ccc {
    width: 40%;
}

.gb-container-ccc > .gb-inside-container {
    padding: 0;
}

small{
    line-height: 1.1em !important;
    font-size: 10px;
    display: block;
}

.insurance_pannel .info small {
    line-height: 1.1em !important;
    font-size: 10px;
    display: block;
}

.gb-grid-wrapper > .gb-grid-column-con {
    width: 40%;
}

.gb-container-con > .gb-inside-container {
    padding: 0px 5px 0px 0px;
}

ul {
    list-style: disc;
    margin: 0 0 1.5em 3em;
}

.gb-grid-wrapper > .gb-grid-column-btn {
    width: 20%;
}

.gb-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    clear: both;
}

.gb-button-wrapper a.gb-button-cfe7c08f, .gb-button-wrapper a.gb-button-cfe7c08f:visited {
    background-color: #1a0dab;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 50px;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

.gb-button-wrapper .gb-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: .2s background-color ease-in-out, .2s color ease-in-out, .2s border-color ease-in-out, .2s opacity ease-in-out, .2s box-shadow ease-in-out;
}

a.gb-button-cfe7c08f .gb-icon {
    font-size: 1em;
    padding-left: 0.5em;
}

.insurance_pannel_best:before {
    content: 'Best Overall';
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
    padding: 10px 20px;
    background: #1A0DAB;
    color: #fff;
    text-align: left;
    position: absolute;
    top: -15px;
    left: -15px;
    border-radius: 5px;
    z-index: 99;
}

.insurance_pannel_best {
    position: relative;
}


/* ---------------- media queries------------ */

@media (min-width: 375px) {
    .gb-container .gb-container-main {
    width: 100%;
    padding: 0px 20px 0px 20px;
     }
    }

@media (max-width: 767px) {
    .insurance_pannel:before, .insurance_pannel_best:before {
    left: -7px;
    }

    .gb-container .gb-container-main{
    width: 100%;
    padding: 0px 20px 0px 20px;
}
    
.gb-container-bbb > .gb-inside-container {
    padding: 30px 25px 25px 15px;
}
    
.gb-grid-wrapper > .gb-grid-column-cont {
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.gb-grid-column-div > .gb-inside-container {
    padding-bottom: 0;
    padding: 0px 20px 0px 20px;
}

.gb-grid-wrapper > .gb-grid-column-9dfac986 {
    width: 60%;
    padding: 0px 20px 0px 20px;
} 

.gb-grid-wrapper > .gb-grid-column-e0b34fd1 {
    width: 40%;
    padding: 0px 20px 0px 20px;
}  

.shortcode-swiftscore {
    padding: 10px;
    padding: 0px 20px 0px 20px;
}

.shortcode-swiftscore .star_rating i {
    font-size: 16px;
}

.shortcode-swiftscore ul.score a {
    font-size: 11px;
}

.shortcode-swiftscore .tooltip {
    left: auto;
    right: 0;
}

.gb-grid-wrapper > .gb-grid-column-aaa {
    width: 30%;
}

.gb-grid-wrapper > .gb-grid-column-abc {
    width: 30%;
}

.gb-grid-wrapper > .gb-grid-column-ccc {
    width: 40%;
}

.gb-grid-wrapper > .gb-grid-column-con {
    width: 100%;
}

.gb-inside-container {
    padding: 20px 0 30px;
}

.gb-grid-wrapper > .gb-grid-column-btn {
    width: 100%;
}

}